
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>CreateSocialMedia</h2>

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input type="text" name="Name" class="form-control" />
    <br />
    <label>Sosyal Medya Link Adresi</label>
    <input type="text" name="Url" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>