@model MyPortfolio_MVC.Models.TblTestimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Referans Ekle</h2>

<form method="post" enctype="multipart/form-data">

    <label>Resim Yükleyiniz..</label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Referansı Ekle</button>

</form>