@model List<MyPortfolio_MVC.Models.TblSocialMedia>
<div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
    <h3 class="text-pretitle">Sosyal Medya</h3>
    <ul class="contact-social">
        @foreach (var item in Model)
        {

            <li style="font-size:20px;"><a href="@item.Url">@item.Name</a></li>
        }

    </ul>
</div>
