@model List<MyPortfolio_MVC.Models.TblContact>

<div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
    @foreach(var item in Model) { 
    <h3 class="text-pretitle">İletişim Bilgilerim</h3>
    <p class="contact-links">
        <a  href="mailto:@item.Email" class="mailtoui">@item.Email</a> <br>
        <a href="@item.Phone" >@item.Phone</a>
    </p>
    }
</div>
